.hero {
    z-index: 100;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 1rem;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 112px;
}

.hero_logo {
    padding: 20px;
    background-image: url(https://images.evetech.net/corporations/98450785/logo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero__title {
    font-size: 36px;
    font-weight: 800;
    color: var(--text-title);
    -webkit-animation: text 3s 1;
    animation: text 3s 1;
    letter-spacing: 4px;
}

.hero__subtitle {
    font-size: 28px;
    font-weight: 600;
    color: var(--text-title);
    -webkit-animation: subtext 3s 1;
    animation: subtext 3s 1;
}

@-webkit-keyframes text {
    0% {
        color: transparent;
    }

    30% {
        letter-spacing: 8px;
    }

    85% {
        margin-bottom: -30px;
    }
}

@keyframes text {
    0% {
        color: transparent;
    }

    30% {
        letter-spacing: 8px;
    }

    85% {
        margin-bottom: -30px;
    }
}

@-webkit-keyframes subtext {
    0% {
        color: transparent;
    }

    30% {
        color: transparent;
    }

    85% {
        color: transparent;
    }
}

@keyframes subtext {
    0% {
        color: transparent;
    }

    30% {
        color: transparent;
    }

    85% {
        color: transparent;
    }
}