:root {
    --text-title: rgb(48, 178, 230);
    --text-subtitle: rgb(91, 76, 228);
    --black: #000000;
    --link: rgb(48, 178, 230);
    --link-decor: #ffffff;
    --gray: #5d5d5d;
    --light-decor: #f8f8f8;
    --backgorund: #202020;
    --text: #d2d2d2;
    --text-link: rgb(33, 33, 33);
    --horde-gold: #ffb23d;
    --discord: #5865f2;
    --mail: #BB001B;
}